<h1> Oh hey there </h1>

<p>
	The date is:
	Nov. 13th
</p>

<span>
	Hey again
</span>

<ul>
	<% ['apples', 'oranges', 'bananas'].each do |fruit| %>
	<li>I like to eat <%= fruit %></li>
	<% end %>
</ul>
